<% include ./partials/header.ejs %>
<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .login-page-left {
        width: 50%;
        height: 80vh;

    }

    .login-page-right {
        width: 50%;
        height: 90%;
    }

    .login-bg-img {
        width: 50%;
    }

    .back-button {
        background-color: #007BFF;
        color: white;
        padding: 8px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        position: absolute;
        top: 10px;
        left: 10px;
    }

    @media screen and (max-width: 762px) {
        .login-page-left {
            width: 100%;
            background-image: url('/images/hotel2/hotel2img2.jpeg');
            background-size: cover;
            background-position: center;
            color: #7A0222;
        }

        .login-page-left h2 {
            color: #7A0222;
            text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.5);
        }

        .login-page-left label {
            color: #fff;
        }

        .login-page-right {
            width: 0%;
            display: none;
        }


        .login-bg-img {
            width: 0;
        }

    }

    @media screen and (max-width: 400px) {
        .back-button {
            font-size: 12px;
            padding: 5px 8px;
        }
    }



    body::-webkit-scrollbar {
        width: 0;
    }
</style>
<nav class="flex h-fit flex-col">
    <div class="div h-10 w-full  bg-[#7A0222]"></div>
    <div class="div flex items-center justify-between py-5 px-14 border-b-2">
        <div class="left">
            <a href="/"><img class="h-[90px]" src="/images/all-seasons_page-0001.jpg" alt=""></a>
        </div>
        <div class="right">
            <ul class="flex gap-10 items-center  ">
                <li class="text-[#7A0222] font-bold"><a href="/">Home</a></li>
                <li class="text-[#7A0222] font-bold"><a href="/about">About</a></li>
                <li class="text-[#7A0222] font-bold"><a href="/gallery">Gallery</a></li>
                <li class="text-[#7A0222] font-bold"><a href="/programs">Our Programs</a></li>
                <li class="text-[#7A0222] font-bold"><a href="/activity">Activities</a></li>
                <li class="text-[#7A0222] font-bold"><a href="/contact">Contact Us</a></li>
                <li class="text-[#7A0222] font-bold"><a href="/login">Login</a></li>
                <h4><i id="menu-btn" class="ri-menu-line"></i></h4>
            </ul>
        </div>
    </div>
</nav>
<div id="slidebar" class="bg-[#7A0222]">
    <div class="left">
        <a href="/"><img class="h-[90px] rounded" src="/images/all-seasons_page-0001.jpg" alt=""></a>
    </div>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/gallery">Gallery</a>
    <a href="/programs">Our Programs</a>
    <a href="/activity">Activities</a>
    <a href="/contact">Contact</a>
    <!-- <a href="/register">Register</a> -->
    <a href="/login">Login</a>
</div>
<div class=" login-page flex w-full h-full  ">
    <div class="login-page-left bg-white p-8 rounded shadow-md flex flex-col items-center justify-center ">
        <h2 class="text-2xl font-bold mb-8 text-[#7A0222] w-full text-center">Register Account</h2>
        <form class="w-full" action="/register" method="POST">
            <% if (error && error.length> 0) { %>
                <p class="flash-error"
                    style="color: rgb(249, 18, 18); font-weight: 800; text-transform: capitalize; margin: 7px 0;">
                    <%= error %>
                </p>
                <% } %>
                    <div class="mb-5">
                        <label for="email" class="block mb-2 text-sm text-gray-600">Email</label>
                        <input type="email" id="email" name="email" placeholder="Enter your email address"
                            class="text-black w-full px-3 py-2 placeholder-gray-300 border border-gray-500 rounded-md focus:outline-none focus:ring focus:ring-blue-100 focus:border-blue-300"
                            required>
                    </div>
                    <div class="mb-5">
                        <label for="username" class="block mb-2 text-sm text-gray-600">Username</label>
                        <input type="username" id="username" name="username" placeholder="Enter your username"
                            class="text-black w-full px-3 py-2 placeholder-gray-300 border border-gray-500 rounded-md focus:outline-none focus:ring focus:ring-blue-100 focus:border-blue-300"
                            required>
                    </div>
                    <div class="mb-5">
                        <label for="password" class="block mb-2 text-sm text-gray-600">Password</label>
                        <input type="password" id="password" name="password" placeholder="Enter your password "
                            class="text-black w-full px-3 py-2 placeholder-gray-300 border border-gray-500 rounded-md focus:outline-none focus:ring focus:ring-blue-100 focus:border-blue-300"
                            required>
                    </div>
                    <div class="mb-5">
                        <label for="confirm_password" class="block mb-2 text-sm text-gray-600">Confirm
                            Password</label>
                        <input type="password" id="confirm_password" name="confirm_password"
                            placeholder="Confirm your password"
                            class="text-black w-full px-3 py-2 placeholder-gray-300 border border-gray-500 rounded-md focus:outline-none focus:ring focus:ring-blue-100 focus:border-blue-300"
                            required>
                    </div>
                    <button type="submit"
                        class="w-full py-2 px-4 border border-transparent rounded-md text-white bg-[#7A0222] hover:bg-[#7A0222] focus:bg-[#7A0222] active:bg-[#7A0222] transition duration-150 ease-in-out">Register</button>
        </form>
        <a class="mt-3 text-sm hover:text-[#7A0222]" style="text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.5);"
            href="/login">Already Registered ? Login to your account
        </a>
    </div>
    <div class="login-page-right login-bg-img" style="position: relative;">
        <img src="/images/2.jpg" alt="login" class=" w-full h-full object-cover">
        <h1 class="text-white font-bold "
            style="position: absolute; top: 40%;left: 5%;width: 60%;font-size: 25px;text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.5);">
            WELCOME TO ALL SEASONS PRE-SCHOOL</h1>
    </div>
    
</div>
<script src="/javascripts/sidebar.js"></script>